*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.wrapper{
    overflow-x: hidden; 
    height: 100vh;
    overflow-y: auto;
    perspective: 10px;
    word-wrap: break-word;
}
.container{
    position: relative;
    height:100%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}
.backg,.foreg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.backg{
    transform:translateZ(-30px) scale(4);
} 
.foreg{
    transform:translateZ(-10px) scale(3) ;
} 
.advh{
    position: relative;  
    padding-left: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.70);
    font-weight: bolder;
    font-size: 70px;
    margin-top: 40px;
}
.adv
{
    color: white;
    font-weight: bolder;
    font-size: 100px;
    margin-top: 150px;
    word-break: break-all;
}
.advt{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    position: relative;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.yes{
    font-size: 70px;
}
.s1{
    background-image: url(sport-1.jpg);
}
.s2{
    background-image: url(sport-2.jpg);
}
.s3{
    background-image: url(sport-3.jpg);
}
.sc{
 background-attachment: fixed;
 background-position: relative;
 width: 100%;
 display: flex;
 flex-direction: column;
 background-position: center;
 justify-content: center;
 align-items: center;
 position: relative;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.st{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    padding: 40px;
    height: fit-content;
    margin-top: 500px;
}
.sh{
    margin-top: 100px;
    color: black;
    background-color: white;
    font-size: 70px;
}
 .foot1{
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: black;
        color: white;
        position: relative;
 }
 .foott{
    background-color: black;
    color: white;
    align-self: center;
 }
